<h1 id='welcome'>Welcome to Ambel</h1>
<div id="mainImg">
   
    <img id="staff" src="http://www.gannett-cdn.com/media/2018/07/31/USATODAY/USATODAY/636686240834813870-Princi-SEA-Commessas.jpg?width=1080&quality=50"/>
   <img id="mainCook"src="https://i.pinimg.com/736x/b9/c4/2b/b9c42bb0178b2265b7514b7280be1c66--icecream-sandwich-ice-cream-cookie-sandwich.jpg" /> 
   </div>

<div id="mainText">
<h1>About</h1>
<p>Cotton candy pastry topping marshmallow sugar plum pie. Carrot cake chocolate bear claw chocolate. Sweet pudding jelly beans croissant marzipan carrot cake donut chocolate bar dessert. Tiramisu lemon drops cupcake wafer pudding toffee caramels oat cake. Cheesecake macaroon sweet marzipan. Lemon drops wafer candy soufflé lemon drops chocolate bar. Toffee cupcake lemon drops pudding cake chupa chups cookie chupa chups. Wafer icing topping powder lollipop chocolate bar powder jelly liquorice. Candy muffin sugar plum macaroon brownie tootsie roll. Fruitcake chocolate bar cookie danish apple pie.</p>
</div>

<div class="ui three column grid">

<div class="ui slide masked reveal image">

<img src=<%=@muffins[0].image%> class="visible content home">
<img src=<%=@muffins[1].image%> class="hidden content home">
</div>
<div class="content">
<a class="header">Muffins</a>
<div class="meta">
  <span class="date">Created in Sep 2014</span>
</div>
</div>
<div class="extra content">
<a>
  Muffins
</a>
</div>

<div class="ui slide masked reveal image">

<img src=<%=@cookies[0].image%> class="visible content home">
<img src=<%=@cookies[1].image%> class="hidden content home">
</div>
<div class="content">
<a class="header">Cookie</a>
<div class="meta">
  <span class="date">Created in Sep 2014</span>
</div>
</div>
<div class="extra content">
<a>
  Muffins
</a>
</div>



<div class="ui slide masked reveal image">

<img src=<%=@cakes[0].image%> class="visible content home">
<img src=<%=@cakes[1].image%> class="hidden content home">
</div>
<div class="content">
<a class="header">Cake</a>
<div class="meta">
  <span class="date">Created in Sep 2014</span>
</div>
</div>
<div class="extra content">
<a>
  Muffins
</a>
</div>


</div>

